@{
    ViewData["Title"] = "Locked Out";
}

<div class="text-center">
    <h1 class="display-4">Locked Out</h1>
    <p>
        Your account has been locked out. Please try again later. If the problem persists,
        please contact the STFC Community Bot&#39;s support team.
    </p>
</div>