@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm()) {
    <div class="text-center">
        <h1 class="display-4">Login</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>This website integrates with your Dirscord account to log in.</p>
        <div style="text-align: left;">
            <h2>What will happen next?</h2>
            <ol>
                <li>You&#39;ll be redirected to Discord&#39;s website.</li>
                <li>You may be prompted for your Discord credentials. As per security best-practices,
                    please ensure that the URL in your browser shows Discord&#39;s website. It should
                    not prompt for your Discord credentials on this website.</li>
                <li>Once complete, you&#39;ll be sent back to this website and logged in.</li>
            </ol>
            <h2>Why do you need access to Discord?</h2>
            <ul>
                <li>We&#39;ll ask Discord for a list of servers where you have Discord Administrator
                    permissions.</li>
                <li>We&#39;ll cross-reference this list with a list of servers that the bot has
                    joined.</li>
                <li>If you are in a Discord server without the bot, you&#39;ll be given the option
                    to invite the bot to the server.</li>
                <li>You&#39;ll be able to configure the bot settings for any server that you&#39;re
                    currently an administrator.</li>
            </ul>
            <h2>Will you be able to access my account?</h2>
            <ul>
                <li>Discord will send us a token for your login. <b>We will never have a copy of your Discord password.</b></li>
                <li>This token will have limited access.</li>
                <li>We&#39;ll be able to ask Discord what servers you're a member of.</li>
                <li>We&#39;ll also be able to see some basic data on your Discord account (ie. username).</li>
                <li>We wont&#39; be able to see your email address.</li>
                <li>We won&#39;t be able to read any messages in your other Discord servers,
                    private messages, etc.</li>
                <li>We won&#39;t be able to send or post any messages, or change permissions.</li>
                <li>If you would like to add the bot to one of your Discord servers, you&#39;ll be
                    prompted for additional access at that time.</li>
            </ul>
        </div>
        <p>If you have any questions or concerns, you can contact the STFC Community Bot&#39;s 
            support team.</p>
        <button asp-action="StartLogin">Login with Discord</button>
    </div>
}